@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shear style */
.disply-flex{
    display: flex;
}


/* dark-o3 */
.text-gray{
    color: #424242;
}
/* dark-02 */
.text-light-gray{
    color: #727272;
}
.bg-color{
    background-color:rgba(255, 144, 14, 0.1);;
}


/* header */
.barnd{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.navbar, .banner{
    max-width: 1440px;
    
    margin: 0 auto;
}

/* banner */
.banner-content{
    max-width: 862px;
    height: 225px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
    
}
.banner-title{
   width: 100%;
   
}
.btn{
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    padding:20px 25px ;
}
img{
    margin-bottom: 45px;
    width: 100%;

    
}



/* main */
.main-container{
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    /* background-color: antiquewhite; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    
}
.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px ;
    margin-top: 70px;
    width: 300px;
    height: 400px;
    
}
.main-title{
    width: 420px;
    height: 100;
    /* border: 2px solid red; */
}
.main-section{
    display: flex;
    align-items: center;
    gap: 70px;
    
}
.des{
    width: 500px;
    height: 70px;
    /* border: 2px solid red; */
    margin-top: 24px;
}
.des-container{
    width: 450px;
    height: 250px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}
.main-btn{
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600px;
    width: 170px;
    height: 60px;
    border-radius: 8px;
    border: none;
    padding:20px 25px ;
    margin-top: 15px;
}
.features{
    color: rgba(255, 144, 14, 1);
    font-size: 45px;
    font-weight: 500;

}
.quick{
    color: #727272;
    font-size: 40px;
    font-weight: 500;

}
.of-our{
    color: #131313;
    font-size: 40px;
    font-weight: 500;
}













/* responsive in header */
@media screen and {
    .navbar, .barnd{
        flex-direction: column-reverse;
    }
    
}